@model string
@{
    ViewData["Title"] = "Authenticated Page";
}

<div class="alert alert-success" role="alert">
    <h4>Broken Authentication</h4>
    <ul>
        <li>
            There is minimal session fixation risk
        </li>
        <li>
            Session data is currently being stolen with a malicious script, but it won't get anything
        </li>
    </ul>
</div>

<h1>You are logged in as @Model!</h1>

<a href="/brokenauthafter/logout">Logout</a>


@section Scripts {
    <script>
        // sample malicous script, could be on this page from cross site scripting attack!
        $.post('/api/broken-auth/harvest-session',
            {
                Site: window.location.href,
                Cookies: encodeURIComponent(document.cookie)
            });
    </script>
}