
@{
    ViewData["Title"] = "Index";
}

<h1>Sufficient Logging</h1>
<div class="alert alert-success" role="alert">
    <h4>All requests being logged!</h4>
    <ul>
        <li>
            We've enabled the global logging middleware
        </li>
    </ul>
</div>
