
@{
    ViewData["Title"] = "Index";
}

<h1>Insufficient Logging</h1>

<div class="alert alert-danger" role="alert">
    <h4>Nothing is being logged!</h4>
    <ul>
        <li>
            Enabling some global logging middleware can help!
        </li>
    </ul>
</div>
