
@{
    ViewData["Title"] = "Index";
}

<div class="alert alert-danger" role="alert">
    <h4>XML External Entity Processing</h4>
    <ul>
        <li>
            The processing of XML submitted here can lead to the website crashing!
        </li>
        <li>
            Ex: Billion laughs attack
        </li>
    </ul>
</div>


<h1>XXE Attack</h1>

<p>Submit XML for processing here:</p>

<form method="post" action="/xxebefore/attack">

    <textarea name="xml" style="min-width:500px">

    </textarea>
    <br />

    <input type="submit" value="Submit" />
</form>

