
@{
    ViewData["Title"] = "Index";
}

<div class="alert alert-danger" role="alert">
    <h4>XML External Entity Processing</h4>
    <ul>
        <li>
            The processing of XML submitted here can lead DOS or remote file execution!
        </li>
        <li>
            Ex: Billion laughs attack - 10^9 = a billion "lol"s, taking up almost 3 gigabytes of memory!
        </li>
        <li>
            Ex: Remote file execution
        </li>
    </ul>
</div>


<h1>XXE Attack</h1>

<p>Submit XML for processing here:</p>

<form method="post" action="/xxebefore/attack">

    <textarea name="xml" style="min-width:800px; min-height:500px">

    </textarea>
    <br />

    <input type="submit" value="Submit" />
</form>

