
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1>Using Components with Known Vulnerabilities</h1>

    <h4>After</h4>
    <a href="https://snyk.io">
        <img src="https://res.cloudinary.com/snyk/image/upload/v1533761770/logo-1_wtob68.svg" />
    </a>
</div>
