@{
    ViewBag.Title = "Index";
}

<div class="alert alert-success" role="alert">
    <h4>This form is not vulnerable to injection!</h4>
    <ul>
        <li>
            1=1 method if username is not known: ' or 1=1--
        </li><li>
            method if username is known: '--
        </li><li>
            method to delete data ' Delete from Logins --
        </li>
    </ul>
</div>

<h2>Login</h2>

<span style="color:red">@ViewBag.Error</span>

<form action="/injectionafter/index" method="post">
    <input type="text" placeholder="email" name="email" required />

    <br />
    <br />

    <input type="text" placeholder="password" name="password" required/>

    <br />
    <br />
    <input type="submit" value="Login" />
</form>

