
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">

    <h1>Using Components with Known Vulnerabilities</h1>

    <h4>Before...</h4>
    <p style="font-size:100px">¯\_(ツ)_/¯</p>

</div>