
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">

    <h1>Using Components with Known Vulnerabilities</h1>

    <div class="alert alert-danger" role="alert">
        <h4>We have not verified our 3rd party components</h4>
        <p>
            We have no idea if the components we are using have vulnerabilities
        </p>
        <p style="font-size:100px">¯\_(ツ)_/¯</p>
    </div>
</div>