
@{
    ViewData["Title"] = "Index";
}

<div class="alert alert-success" role="alert">
    <h4>Proper error handling does not expose sensitive info</h4>
    <ul>
        <li>
            The button below will trigger errors that are safely hidden from end users.
        </li>
    </ul>
</div>


<a class="btn btn-danger" href='/securitymisconfigafter/triggererror'>Trigger Error</a>
