
@{
    ViewData["Title"] = "Index";
}

<div class="alert alert-danger" role="alert">
    <h4>This form is still vulnerable to Cross Site Scripting!</h4>
    <ul>
        <li>
            The full name field could be used to harvest data.
        </li>
    </ul>
</div>

<h2>Login</h2>

<span style="color:red">@ViewBag.Error</span>

<form action="/cssafter/index" method="post">
    <input type="text" placeholder="full name" name="name" required />

    <br />
    <br />

    <input type="text" placeholder="email" name="email" required />

    <br />
    <br />

    <input type="text" placeholder="password" name="password" required />

    <br />
    <br />
    <input type="submit" value="Register" />
</form>

