
@{
    ViewData["Title"] = "Index";
}

<div class="alert alert-danger" role="alert">
    <h4>Broken Authentication</h4>
    <ul>
        <li>
            This authentication scheme sets an unsecure, long lasting cookie!
        </li>
    </ul>
</div>

<span style="color:red">@ViewBag.Error</span>

<form action="/brokenauthbefore/index" method="post">
    <input type="text" placeholder="email" name="Email" required />

    <br />
    <br />

    <input type="text" placeholder="password" name="Password" required />

    <br />
    <br />
    <input type="submit" value="Login" />
</form>
