
@{
    ViewData["Title"] = "My Data";
}

    <div class="alert alert-danger" role="alert">
        <h4>The api this table uses is broken!</h4>
        <ul>
            <li>
                Someone who explores the API calls this makes could find vulnerabilities.
            </li>
        </ul>
    </div>

<h1>My Data</h1>


<table class="table table-bordered table-striped" id="table">
    <tr>
        <td>Email</td>
        <td>Name</td>
    </tr>

    
</table>

@section Scripts 
{
    <script>
        $(document).ready(function () {
            $.get('/users/me', function (data) {
                $('#table').append('<tr><td>' + data.email + '</td><td>' + data.name + '</td></tr>');
            });
        })
    </script>
}