
@{
    ViewData["Title"] = "Index";
}
<div class="alert alert-success" role="alert">
    <h4>XML External Entity Processing</h4>
    <ul>
        <li>
            The XML processing here is safe and will ignore DTD
        </li>
        <li>
            Ex: Billion laughs attack
        </li>
        <li>
            Ex: Remote file execution
        </li>
    </ul>
</div>


<h1>XXE Attack</h1>

<p>Submit XML for processing here:</p>

<form method="post" action="/xxeafter/attack">

    <textarea name="xml" style="min-width:800px; min-height:500px">

    </textarea>
    <br />

    <input type="submit" value="Submit" />
</form>

